### DAY 5 EXERCISES

Q1. Declare an empty list

Q2. Declare a list with more than 5 items

Q3. Find the length of your list

Q4. Get the first item, the middle item and the last item of the list

In [1]:
# an empty list
empty_list = []

# a list with items
mylist = [12, 'apple', 34, 'girl', 'Python', 'baby']

# length of my list
len_of_list = len(mylist)

# Get the first item use index 0, the middle item(use // to get middle item), and the last item of the list use index -1
first_item = mylist[0]
middle_item = mylist[len_of_list // 2]  
last_item = mylist[-1] 

# Print the results
print("Empty list:", empty_list)
print("List with items:", mylist)
print("Length of the list:", len_of_list)
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

Empty list: []
List with items: [12, 'apple', 34, 'girl', 'Python', 'baby']
Length of the list: 6
First item: 12
Middle item: girl
Last item: baby

Q5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [2]:
mixed_data_types = ["ruqayya", 32, 173, "married", "kano"]

# print result
print(f"mixed data: {mixed_data_types}")

mixed data: ['ruqayya', 32, 173, 'married', 'kano']

Q6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

Q7. Print the list using print()

Q8. Print the number of companies in the list

Q9. Print the first, middle and last company

In [ ]:
# Declare the list variable named it_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Print the list using print()
print("List of IT companies:", it_companies)

# Print the number of companies in the list
number_of_companies = len(it_companies)
print("Number of companies in the list:", number_of_companies)

# Print the first, middle, and last company
first_company = it_companies[0]
middle_company = it_companies[number_of_companies // 2]
last_company = it_companies[-1]

print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

Q10. Print the list after modifying one of the companies

Q11. Add an IT company to it_companies

Q12. Insert an IT company in the middle of the companies list

In [3]:

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


# Modify one of the companies
it_companies[2] = 'Whatsapp'

# Print the list after modifying one of the companies
print("List of IT companies after modifying one company:", it_companies)

# Add an IT company to it_companies
it_companies.append('Samsung')

# Print the list after adding an IT company
print("List of IT companies after adding a company:", it_companies)

# Insert an IT company in the middle of the companies list
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, 'Intel')

# Print the list after inserting an IT company in the middle
print("List of IT companies after inserting a company in the middle:", it_companies)

List of IT companies after modifying one company: ['Facebook', 'Google', 'Whatsapp', 'Apple', 'IBM', 'Oracle', 'Amazon']
List of IT companies after adding a company: ['Facebook', 'Google', 'Whatsapp', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Samsung']
List of IT companies after inserting a company in the middle: ['Facebook', 'Google', 'Whatsapp', 'Apple', 'Intel', 'IBM', 'Oracle', 'Amazon', 'Samsung']

Q14. Change one of the it_companies names to uppercase (IBM excluded!)

Q15. Join the it_companies with a string '#;  '

Q16. Check if a certain company exists in the it_companies list.

Q17. Sort the list using sort() method

Q18. Reverse the list in descending order using reverse() method

In [5]:

it_companies = ['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()

# Print the list after modifying one of the company names
print("List of IT companies after changing one name to uppercase:", it_companies)

# Join the it_companies with a string '#;  '
joined_companies = '#;  '.join(it_companies)

# Print the result
print("Joined IT companies:", joined_companies)

# Check if a certain company exists in the it_companies list
company_exists = 'Microsoft' in it_companies

# Print the result
print(f"The company Microsoft exist in the list of it companies? {company_exists}")

# Sort the list
it_companies.sort()

# Print the list after sorting
print("List of IT companies after sorting:", it_companies)

# Reverse the list in descending order using reverse() method
it_companies.reverse()

# Print the list after reversing in descending order
print("List of IT companies after reversing in descending order:", it_companies)

List of IT companies after changing one name to uppercase: ['Facebook', 'GOOGLE', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']
Joined IT companies: Facebook#;  GOOGLE#;  Twitter#;  Apple#;  IBM#;  Oracle#;  Amazon
The company Microsoft exist in the list of it companies? False
List of IT companies after sorting: ['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Oracle', 'Twitter']
List of IT companies after reversing in descending order: ['Twitter', 'Oracle', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']


Q19. Slice out the first 3 companies from the list

Q20. Slice out the last 3 companies from the list

Q21. Slice out the middle IT company or companies from the list

Q22. Remove the first IT company from the list

Q23. Remove the middle IT company or companies from the list

Q24. Remove the last IT company from the list

Q25. Remove all IT companies from the list

Q26. Destroy the IT companies list

In [6]:

it_companies = ['Facebook', 'GOOGLE', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Slice out the first 3 companies from the list
first_three_companies = it_companies[:3]

# Print the result
print("First 3 IT companies:", first_three_companies)

# Slice out the last 3 companies from the list
last_three_companies = it_companies[-3:]

# Print the result
print("Last 3 IT companies:", last_three_companies)

# Slice out the middle IT company or companies from the list
middle_index = len(it_companies) // 2
middle_companies = it_companies[middle_index - 1 : middle_index + 2]  

# Print the result
print("Middle IT company or companies:", middle_companies)

# Remove the first IT company from the list
it_companies.pop(0)

# Print the list after removing the first company
print("List after removing the first IT company:", it_companies)

# Remove the middle IT company or companies from the list
it_companies = it_companies[:middle_index - 1] + it_companies[middle_index + 2:]

# Print the list after removing the middle company or companies
print("List after removing the middle IT company or companies:", it_companies)

# Remove the last IT company from the list
it_companies.pop()

# Print the list after removing the last company
print("List after removing the last IT company:", it_companies)

# Remove all IT companies from the list
it_companies.clear()

# Print the list after removing all IT companies
print("List after removing all IT companies:", it_companies)

# Destroy the IT companies list
del it_companies

First 3 IT companies: ['Facebook', 'GOOGLE', 'Twitter']
Last 3 IT companies: ['IBM', 'Oracle', 'Amazon']
Middle IT company or companies: ['Twitter', 'Apple', 'IBM']
List after removing the first IT company: ['GOOGLE', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']
List after removing the middle IT company or companies: ['GOOGLE', 'Twitter', 'Amazon']
List after removing the last IT company: ['GOOGLE', 'Twitter']
List after removing all IT companies: []


Q27. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

Q28. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [9]:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

# Join the lists above
joined_list = front_end + back_end

# print the result
print("The joined list is :", joined_list)

# Copy the joined list and assign it to a variable full_stack
full_stack = joined_list.copy()

# Then insert Python and SQL after Redux
insert_items = full_stack.index('Redux') + 1
full_stack.insert(insert_items, 'Python')
full_stack.insert(insert_items + 1, 'SQL')

# print the result
print(" The Full Stack List is :", full_stack)

The joined list is : ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
 The Full Stack List is : ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

### EXERCISE LEVEL 2

The following is a list of 10 students ages:  
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]  

Sort the list and find the min and max age  

Add the min age and the max age again to the list  

Find the median age (one middle item or two middle items divided by two)  

Find the average age (sum of all items divided by their number )  

Find the range of the ages (max minus min)  

Compare the value of (min - average) and (max - average), use abs() method

In [12]:
# List of student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list to find the min and max age
ages.sort()

min_age = min(ages)
max_age = max(ages)

# Add the min age and max age again to the list
ages.extend([min_age, max_age])

# Find the median age
median_index = len(ages) // 2
median_age = (ages[median_index - 1] + ages[median_index]) / 2

# Find the average age by summing the ages divide by the count of ages
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Compare (min - average) and (max - average) using abs()
min_difference = abs(min_age - average_age)
max_difference = abs(max_age - average_age)

compare_abs = min_difference == max_difference

# Print the results
print("List of Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Range of Ages:", age_range)
print("abs value of Min - Average:", min_difference)
print("abs value of Max - Average:", max_difference)
print("Are abs value of Min and max equal:", compare_abs)

List of Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Range of Ages: 7
abs value of Min - Average: 3.75
abs value of Max - Average: 3.25
Are abs value of Min and max equal: False

Find the middle country(ies) in the countries list

Divide the countries list into two equal lists if it is even if not one more country for the first half.

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [13]:
countries = ['Afghanistan', 'Albania', 'Algeria','Andorra','Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
  'Azerbaijan','Bahamas', 'Bahrain','Bangladesh','Barbados','Belarus',
  'Belgium', 'Belize','Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [16]:
# Find the middle country
middle_index = len(countries) // 2
middle_countries = countries[middle_index] 

print("The middle country is: ", middle_countries)

#Divide the countries list into two equal lists 
n = middle_index
first_half = countries[:n] if len(countries) % 2 == 0 else countries[:n + 1]
second_half = countries[n:]

# Print the divided lists
print("First Half:", first_half)
print("Second Half:", second_half)

The middle country is:  Lesotho
First Half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second Half: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']