### Exercises: Day 10

#### Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.

In [6]:
# using for loop to iterate 0-10
for number in range(11):
    print(number)

print("\n")
count = 0

# using while loop to iterate 0-10
while count < 11:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10


0
1
2
3
4
5
6
7
8
9
10

2. Iterate 10 to 0 using for loop, do the same using while loop.

In [2]:
# using for loop to iterate 10-0
for i in range(10, -1, -1):
    print(i)

print("\n")

# using while loop to iterate 10-0
count = 10
while count >= 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1
0


10
9
8
7
6
5
4
3
2
1
0

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  #.  
  ##.  
  ###.   
  ####.  
  #####.  
  ######.    
  #######

In [5]:
# Using a loop to print a triangle
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

4. Use nested loops to create the following:

.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #  
.# # # # # # # #

In [11]:
# Using nested loops to create a rectangular pattern
for i in range(8):
    for j in range(8):

#end statement helps to stay on the same line.
        print('# ', end=' ')
    print()  # Move to the next line after each row

#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #
#  #  #  #  #  #  #  #

5. Print the following pattern:

0 x 0 = 0  
1 x 1 = 1  
2 x 2 = 4  
3 x 3 = 9  
4 x 4 = 16   
5 x 5 = 25  
6 x 6 = 36  
7 x 7 = 49  
8 x 8 = 64  
9 x 9 = 81  
10 x 10 = 100

In [14]:

# using for loop to iterate and print the pattern
for i in range(0,11):
    i = i * 1
    print(i, 'x', i,'=',i**2)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [15]:
# given list
lst = ['Python', 'Numpy','Pandas','Django', 'Flask']

# iterate through the list
for i in lst:
    print(i)

Python
Numpy
Pandas
Django
Flask

7. Use for loop to iterate from 0 to 100 and print only even numbers

In [19]:
# iterate from 0 to 100
for i in range(0,100):
    # check if even
    if i % 2 == 0:
        # print result
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [20]:
# iterate from 0 to 100
for i in range(0,100):
    # check if odd
    if i % 2 == 1:
        # print result
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Exercises: Level 2

1. Use for loop to iterate from 0 to 100 and print the sum of all numbers.

The sum of all numbers is 5050.

In [25]:
# Using a for loop to calculate the sum of numbers from 0 to 100
sum_num = 0
for i in range(0,101):
    sum_num += i

# Print the sum of all numbers
print(f"The sum of all numbers is {sum_num}.")

The sum of all numbers is 5050.

2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.  

The sum of all evens is 2550. And the sum of all odds is 2500.

In [32]:
# Using a for loop to calculate the sum of evens and odds from 0 to 100
sum_evens = 0
sum_odds = 0

for number in range(0,101):
    if number % 2 == 0:
        sum_evens += number
    else:
        sum_odds += number

# Print result
print(f"The sum of all evens is {sum_evens}.")
print(f"The sum of all odds is {sum_odds}.")

The sum of all evens is 2550.
The sum of all odds is 2500.

#### Exercises: Level 3

1. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [37]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

# Extract countries containing the word 'land'
countries_with_land = [country for country in countries if 'land' in country]

# Print the result
print("Countries containing the word 'land':")
for country in countries_with_land:
    print(country)

Countries containing the word 'land':
Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

3. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [42]:
# given list
fruits = ['banana', 'orange', 'mango', 'lemon']

# Using for loop to reverse the order of the list
reversed_fruits = []
len_fruit = len(fruits) - 1
for i in range(len_fruit, -1, -1):
    reversed_fruits.append(fruits[i])

print("Original list:", fruits)
print("Reversed list:", reversed_fruits)

Original list: ['banana', 'orange', 'mango', 'lemon']
Reversed list: ['lemon', 'mango', 'orange', 'banana']

3. Go to the data folder and use the countries_data.py file.  
What are the total number of languages in the data  
Find the ten most spoken languages from the data  
Find the 10 most populated countries in the world

In [44]:
# Assuming the countries_data.py file contains a dictionary with language information